body{
    background-image: url(" https://images.unsplash.com/photo-1677490214248-f483906d0569?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1280&q=60");
    align-items: center;

}
table{
    align-self: center;
    
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    font: arial;
    font-size: 14px;
}
hr{
    border-style: none;
   border-color:black;
   width: 20%;
   height: 0px;
   border-top-style: dotted ;
   border-width: 10px;

}
img{
    background-color: aqua;
}

#exp{
    border-style: dashed solid;
    border-color: black;
    table-layout: none;

    
}
#intro{
    position: relative;
}
.Logo
{
    border-radius: 100px;
    height : 250px; 
    width : 200px;
    

}
.Logo:hover
{
    transform: scale(1.5);
    transition-duration: 1000ms;
}
.Logo:hover
{
    transform: scale(1.5);
    transition-duration: 2000ms;
    ;
}
.div{
    text-align: center;
}